<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>components demo</title>
    <script src = "vue.js" type="text/javascript" charset="UTF-8"></script>

</head>
<body>
    
    <div id="components-demo">
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>
    </div>

    <script type="text/javascript">
    Vue.component('button-counter',{
        data: function(){
            return{
                count: 0
            }
        },
        template: '<button v-on:click = "count++"> You clicked me {{ count }} times.</button>'
    })
    new Vue({
        el: '#components-demo'
    })
    </script>


    <div id = "blog-post-demo">
        <blog-post 
        v-for='post in posts'
        v-bind:key='post.id'
        v-bind:post='post'
        ></blog-post>
       
    </div>
    <script type="text/javascript">
    Vue.component('blog-post',{
        props:['post'],
        template: '\
            <div class ="blog-post">\
            <h3>{{ title }}</h3>\
            <div v-html="post.content"></div>\
            </div>\
            '
    })  
    new Vue({
        el: '#blog-post-demo',
        data: {
            posts: [
                {id: 1, title: 'My', content:'aaaaa'}, 
                {id: 2, title: 'Blogging', content: 'bbbbb'},
                {id: 3, title: 'Why', content: 'ccccc'}
            ]
        }
    }) 
    </script>
<div id="blog-posts-events-demo" class="demo">
    <div :style="{ fontSize: postFontSize + 'em' }">
      <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:post="post" v-on:enlarge-text="postFontSize += 0.1"></blog-post>
    </div>
  </div>
  <script>
  Vue.component('blog-post', {
    props: ['post'],
    template: '\
      <div class="blog-post">\
        <h3>{{ post.title }}</h3>\
        <button v-on:click="$emit(\'enlarge-text\')">\
          Enlarge text\
        </button>\
        <div v-html="post.content"></div>\
      </div>\
    '
  })
  new Vue({
    el: '#blog-posts-events-demo',
    data: {
      posts: [
        { id: 1, title: 'My journey with Vue', content: '...content...' },
        { id: 2, title: 'Blogging with Vue', content: '...content...' },
        { id: 3, title: 'Why Vue is so fun', content: '...content...' }
      ],
      postFontSize: 1
    }
  })
  </script>


</body>
</html>