<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test for myvue</title>
    <script src = "vue.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body>
    <div id="app">
        {{message}}
    </div>
    <script type="text/javascript">
    var app = new Vue({
        el:'#app',
        data:{
            message:'test for myvue'
        }
    })
    </script>
    
    <div id ="app-2">
        <span v-bind:title="message">
            悬停此处查看信息
        </span>
    </div>
    <script type="text/javascript">
        var app2 = new Vue({
            el:'#app-2',
            data:{
                message:"页面加载于" + new Date().toLocaleString()
            }
        })
    </script>

    <div id ="app-3">
        <p v-if="seen">now you see me</p>
    </div>
    <script type="text/javascript">
    var app3 = new Vue({
        el:'#app-3',
        data:{
            seen:true
        }
    })
    </script>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>
    <script type="text/javascript">
    var app4 = new Vue({
        el:"#app-4",
        data:{
            todos:[
                {text: 'learn JS'},
                {text: 'learn Vue'}
            ]
        }
    })
    </script>

    <div id="app-5">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">reverse this message</button>
    </div>
    <script type="text/javascript">
    var app5 =new Vue({
        el:'#app-5',
        data:{
            message:'hello bro'
        },
        methods:{
            reverseMessage:function(){
                this.message = this.message.split('').reverse().join('')
            }
        }
    })
    </script>

    <div id="app-6">
        <p>{{message}}</p>
        <input v-model="message">
    </div>
    <script type="text/javascript">
    var app6 = new Vue({
        el:'#app-6',
        data:{
            message:'hey boy'
        }
    })
    </script>

    <div id ="test1">
        {{a}}
    </div>
    <script type="text/javascript">
    var data = {a:1};
    var vm = new Vue({
        el: '#test1',
        data : data
    })
    vm.$data === data
    vm.$el === document.getElementById('test1')

    vm.$watch('a', function(newValue, oldValue){
        console.log(newValue,oldValue);
        //此回调将在'vm.a'改变后调用
    }
    </script>
</body>
</html>